a.footer {
    color: blue;
}

p.footer {
    color: var(--main-white);
    margin-top: 30px;
}

.links {
    text-align: center;
}

.links > li {
    display: inline-block;
    vertical-align: middle;
    margin-top: 50px;
}
